{% extends "main.html" %}

{% block content %}

{% if page == 'login' %}
<div>
    <form method="POST" action="">
        {% csrf_token %}

        <input type='text' name='username' placeholder="Enter Username" required/>
        <input type='password' name='password' placeholder="Enter password" required/>

        <input type='submit' value="Login"/>
    </form>
    <p>haven't signed up yet?</p>
    <a href="{%url 'register' %}">Sign up</a>
</div>
{% else %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type='submit' value="SignUp"/>
    </form>
    <p>Already signed up yet?</p>
    <a href="{%url 'login' %}">Login</a>
</div>
{% endif %}

{% endblock content %}

